{% extends "base.html.twig" %}

{% block title %}
	Destination Erasmus
{% endblock %}

{% block body %}

	<a href="{{ path('dest')}}">
		<h1>Article 1 titre manuel</h1>
	</a>
	<a href="{{ path('dest')}}">
		<h1>Article 2 titre manuel</h1>
	</a>
	<a href="{{ path('dest')}}">
		<h1>Article 3 titre manuel</h1>
	</a>

{% endblock %}
