<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<script src="https://kit.fontawesome.com/10a40eb87c.js" crossorigin="anonymous"></script>
		<link rel="icon" href="{{ asset('images/favicon.png') }}"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<header id="header" class="header colord3">
			<h1>
				<a href="/"><img src="{{asset('images/favicon.png')}}" class="logo"><span class="titre">Destination Erasmus</span>
				</a>
			</h1>
			<nav id="menu" class="menu">
				<ul id="navbar" class="navbar">
					<li>
						<a id="FavButton" href="fav" class="account">
							<i class="fas fa-heart fa-2x"></i>
						</a>
					</li>
					<li>
						<a id="accountButton" href="#deroulant" class="account">
							<i class="fa fa-user-circle fa-2x"></i>
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<div id="deroulant" class="deroulant deroulantHidden">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a href="user">
					<li>Mon Compte</li>
				</a>
				<a href="logout">
					<li>Déconnexion</li>
				</a>
			{% else %}
				<a href="login">
					<li>Connexion</li>
				</a>
			{% endif %}
		</div>
		<main id="main" class="main"> {% block main %}{% endblock %}
			</main>

			<footer id="footer">
				<h3>Mentions légales</h3>
				<br/>
				<h3>Plateforme développée dans le cadre
					<br/>d'un Projet Application IR4 en 2020</h3>
			</footer>


			{% block javascripts %}{% endblock %}
			<script>
				const deroulant = document.getElementById('deroulant'),
accountButton = document.getElementById('accountButton'),
header = document.getElementById('header'),
main = document.getElementById('main');

accountButton.addEventListener('click', function (e) {
e.preventDefault;
deroulant.classList.toggle('deroulantHidden');
});
main.addEventListener('click', function (e) {
e.preventDefault;
deroulant.classList.add('deroulantHidden');
});
			</script>
		</body>
	</html>
</body></html></body></html>
