.title{
    display: inline-block;
    width: calc(100vw - 20px);
    margin: 20px 0;
}
  
.title h2{
    color: white;
    background: #a4bcd2;
    width: 70vw;
    padding: 10px 0;
    margin: 0 auto;
    border: yellow;
    text-align: center;
    border-radius: 10px;
}

.createUnivWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.createUnivWrapper .createUniv{
    background: #677b8d;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    width: 780px;
    margin: 0;
}

.createUniv h3{
    cursor: pointer;
    margin: 0;
}

#formWrapper{
    position: fixed;
    display: none;
    opacity: 0;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(2px);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#formWrapper.activeForm{
    display: flex;
    opacity: 1;
}

#formUpdatingUniv, #checkLocations{
    background: #677b8d;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    width: 780px;
    margin: 0;

    display: none;
}

#formUpdatingUniv.active{
    display: block;
}

#formUpdatingUniv form{
    display: flex;
    flex-direction: column;
}

form .leftrightwrapper{
    display: flex;
    flex-direction: row;
}

.formleft{
    padding-right: 5px;
    width: calc(60% - 5px);
}

#modifUnivChangeL{
    width: 100%;
}

.searchpopup{
    margin-top: 5px;
    width: 100%;
}

.formright{
    padding-left: 5px;
    width: calc(40% - 5px);
    text-align: left;
}

.formright #languagechoice {
    padding: 5px;
    border: solid
}

.formleft input{
    display: block;
    width: 100%;
}

.addcancel {
    margin-top: 10px;
    width: 40%;
    display: block;
    margin-left: auto;
}

.addcancel button {
    width: calc(50% - 4px);
}

.buttonwrapperFM{
    display: flex;
    flex-direction: column;
}

.filiereMajeureSelection{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#filiereSelect{
    display: flex;
    flex-direction: column;
    width: calc(40% - 5px);
    margin-right: 5px;
    max-height: 140px;
    overflow: auto;
}

#majeureSelect{
    display: flex;
    flex-direction: column;
    width: calc(60% - 5px);
    margin-left: 5px;
    max-height: 140px;
    overflow: auto;
}

.addButtonFM{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#addFButton{
    width: calc(40% - 5px);
    margin-right: 5px;
}

#addMButton{
    width: calc(60% - 5px);
    margin-left: 5px;
}


.courseTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.courseTitle .left {
    width: 80%;
}

.courseTitle .right {
    width: 20%;
    text-align: center;
}

#courses{
    max-height: 200px;
    overflow: auto;
}

.coursescontent{
    display: flex;
    flex-direction: row;
}

.coursescontent .left{
    width: 80%;
}

.coursescontent .right{
    width: 20%;
}

.coursescontent input{
    float: left;
}

.coursescontent .right input {
    float: initial;
}

.courseName{
    width: calc(60% - 4px);
}

.courseHours{
    width: calc(20% - 4px);
}

.courseECTS{
    width: calc(20% - 4px);
}

#addCourse{
    margin-top: 5px;
    width: 80%;
    display: block;
}

#checkLocations.active{
    display: block;
}

#map{
    margin-top: 10px;
    height: 600px;
}

.destList {
    display: flex;
    justify-content: center;
    width: 100%;
}

.destination {
    border-radius: 12px;
    margin: 5px 0;
    box-shadow: 0px 2px 5px 1px rgba(131, 131, 131, 0.15);
    overflow: hidden;
    width: 800px;
    background-color: white;
}

.destination header {
    background-color: #677b8d;
    color: white;
    display: flex;
    justify-content: space-between;
}
  
.destination h4 {
    margin: 0 0 0 20px;
    padding: 2px 0;
}
  
.destination main {
    margin: 0 20px 0px 20px;
    width: 100% - 20px;
    font-size: 18px;
}

.destination main p {
    width: 100% - 20px;
}
.destination .right {
    float: right;
}
  
.destination footer {
    text-align: center;
    font-size: 15px;
    color: grey;
}
.changeuniv {
    margin: 2px 20px 0 0;
    font-size: 24px;
    cursor: pointer;
}