#map {
  height: calc(100vh - 60px);
  width: 100%;
}

.mapleftdescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #a4bcd2;
}

.mapleftdescription .leftdescription {
  width: 60vw;
  text-align: center;
  color: white;
}

.formulaireVoyage {
  margin: 50px 50px;
  background: white;
  color: #a4bcd2;
  border-radius: 10px;
  padding: 20px;
}

.formulaireVoyage a{
    width: calc(100% - 40px);
    background: #a4bcd2;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
}

.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.filtresLines {
  padding: 5px 0;
  margin-bottom: 15px;
  /*box-shadow: 2px 2px 5px 1px rgba(133, 155, 174, 0.2);*/
}