#map {
  height: 100vh;
}

.mapleftdescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mapleftdescription .leftdescription {
  width: 40vw;
  text-align: center;
  background: #a4bcd2;
  color: white;
}

.formulaireVoyage {
  margin: 50px 0;
}

#map {
  height: 100vh;
  width: 100%;
}
.destList {
  display: flex;
  justify-content: center;
  width: 100%;
}
.destination {
  border-radius: 12px;
  margin: 5px 0;
  box-shadow: 2px 2px 5px 1px rgba(131, 131, 131, 0.5);
  overflow: hidden;
  width: 800px;
}
.destination header {
  background-color: #677b8d;
  color: white;
}

.destination h4 {
  margin: 0;
}
