#map {
  height: 100vh;
}

.mapleftdescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mapleftdescription .leftdescription {
  width: 40vw;
  text-align: center;
  background: #a4bcd2;
  color: white;
}

.formulaireVoyage {
  margin: 50px 0;
}

#map {
  height: 100vh;
  width: 100%;
}

.filters {
  width: 800px;
  margin: auto;
  color: #859bae;
}
.filtresLines {
  padding: 5px 0;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px 1px rgba(133, 155, 174, 0.2);
}
.destList {
  display: flex;
  justify-content: center;
  width: 100%;
}
.destination {
  border-radius: 12px;
  margin: 5px 0;
  box-shadow: 0px 2px 5px 1px rgba(131, 131, 131, 0.15);
  overflow: hidden;
  width: 800px;
}
.destination header {
  background-color: #677b8d;
  color: white;
  display: flex;
  justify-content: space-between;
}

.destination h4 {
  margin: 0 0 0 20px;
  padding: 2px 0;
}

.destination main {
  margin: 0 20px 0px 20px;
  width: 100% - 20px;
  font-size: 18px;
}
.destination main p {
  width: 100% - 20px;
}
.destination .right {
  float: right;
}

.destination footer {
  text-align: center;
  font-size: 15px;
  color: grey;
}
.addFavs {
  margin: 2px 20px 0 0;
  font-size: 24px;
}

.custom-select {
  border-radius: 12px;
  border: 2px solid #677b8d;
  padding: 3px 8px;
  color: #677b8d;
}

.submitButton{
  position: relative;
  bottom: 2px;
}