#map {
  height: calc(100vh - 60px);
  width: 100%;
}

.mapleftdescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #a4bcd2;
}

.mapleftdescription .leftdescription {
  width: 60vw;
  text-align: center;
  color: white;
}

.formulaireVoyage {
  margin: 50px 50px;
  background: white;
  color: #a4bcd2;
  border-radius: 10px;
  padding: 20px;
}

.formulaireVoyage a{
    width: calc(100% - 40px);
    background: #a4bcd2;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
}

.filtresLines {
  padding: 5px 0;
  margin-bottom: 15px;
  /*box-shadow: 2px 2px 5px 1px rgba(133, 155, 174, 0.2);*/
}
.filters {
  width: 800px;
  margin: auto;
  color: #859bae;
}
.destList {
  display: flex;
  justify-content: center;
  width: 100%;
}
.destination {
  border-radius: 12px;
  margin: 5px 0;
  box-shadow: 0px 2px 5px 1px rgba(131, 131, 131, 0.15);
  overflow: hidden;
  width: 800px;
  background-color: white;
}
.destination header {
  background-color: #677b8d;
  color: white;
  display: flex;
  justify-content: space-between;
}

.destination h4 {
  margin: 0 0 0 20px;
  padding: 2px 0;
}

.destination main {
  margin: 0 20px 0px 20px;
  width: 100% - 20px;
  font-size: 18px;
}
.destination main p {
  width: 100% - 20px;
}
.destination .right {
  float: right;
}

.destination footer {
  text-align: center;
  font-size: 15px;
  color: grey;
}
.addFavs {
  margin: 2px 20px 0 0;
  font-size: 24px;
}

.custom-select {
  border-radius: 12px;
  border: 2px solid #677b8d;
  padding: 3px 8px;
  color: #677b8d;
}

.submitButton{
  position: relative;
  bottom: 2px;
}
.fa-sliders-h{
  font-size: 28px; 
  position: relative; 
  top: 2px; 
  background-color: white; 
  padding: 3px; 
  border-radius: 10px
}