/* Basic -------------------------------------------------------------*/
body,
input,
select,
textarea {
  color: black;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: normal; /* pas en gras */
  letter-spacing: 0.075em;
  line-height: 1.65em;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
p {
  margin: 0;
}
h1 {
  font: inherit;
  font-weight: 800;
  font-size: 1.5em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.75em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: #859bae;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}
/* Header -------------------------------------------------------------*/
.header {
  position: fixed;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #859bae;
  color: white;
  z-index: 1000000;
  top: 0px;
}

.header h1 {
  float: left;
  font: inherit;
  text-decoration: none;
  margin: 0;
}

.header h1 a {
  border-bottom: 0;
  display: inline-block;
  padding: 0 0 0 12px;
  display: flex;
}

.header .titre {
  margin-left: 10px;
  text-transform: uppercase;
}
.header .logo {
  margin: 13px 0;
  width: 40px;
  height: 34px;
}
/* Menu -------------------------------------------------------------*/
.menu {
  float: right;
  height: inherit;
  position: absolute;
  right: 0; /*coller le menu à droite*/
  top: 0;
  position: relative;
  z-index: 10000 !important;
}

.menu .navbar {
  list-style: none;
  margin: 0;
  padding-top: 0;
  white-space: nowrap;
  height: inherit;
  line-height: inherit;
}

.navbar li {
  position: relative;
  bottom: 1px;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.navbar i {
  position: relative;
  top: 6px;
}

.menu .navbar li a {
  height: 60px;
  line-height: 60px;
  letter-spacing: 0.225em;
  padding: 1em 1.5em;
  margin: 0;
  text-transform: uppercase;
  top: 0;
}
/* Navbar et menu responsive ------------------------------------------*/

/* Menu déroulant -----------------------------------------------------*/
.deroulant {
  position: fixed;
  right: 5px;
  top: 60px;
  border-radius: 12px;
  background-color: white;
  width: 200px;
  height: auto;
  box-shadow: 2px 2px 5px 1px rgba(131, 131, 131, 0.5);
  overflow: hidden;
  z-index: 1000000000;
}

.deroulantHidden {
  display: none;
}

.deroulant li {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.deroulant li:hover {
  background-color: #859bae;
  color: white;
}
/* main -------------------------------------------------------------*/
.main {
  margin-top: 60px;
}

/* Footer -------------------------------------------------------------*/

#footer {
  padding: 1em 0 60px 0;
  background-color: #677b8d;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 20px;
}
#footer > h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
