.colord3 {
  background-color: #859bae !important;
  color: white;
}

#logoProfil {
  fill: rgba(255, 255, 255, 1);
}
.logoProfil {
  width: 50px;
  height: 50px;
}
#logoCoeur {
  fill: rgba(255, 255, 255, 1);
}
.logoCoeur {
  width: 40px;
  height: 38.35px;
}
.menu {
  float: right;
  position: relative;
  width: auto;
}
