@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");
/* Basic -------------------------------------------------------------*/
body,
input,
select,
textarea {
  color: black;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: normal; /* pas en gras */
  letter-spacing: 0.075em;
  line-height: 1.65em;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
p {
  margin: 0;
  font-family: "text me One";
  font-weight: 600;
}
h1 {
  font: inherit;
  font-weight: 800;
  font-size: 1.5em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.75em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: #859bae;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}
button:hover {
  color: white;
  background-color: #677b8d;
}
/* Header -------------------------------------------------------------*/
.header {
  position: fixed;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #859bae;
  color: white;
  z-index: 1000000;
  top: 0px;
}

.header h1 {
  float: left;
  font: inherit;
  text-decoration: none;
  margin: 0;
}

.header h1 a {
  border-bottom: 0;
  display: inline-block;
  padding: 0 0 0 12px;
  display: flex;
}

.header .titre {
  margin-left: 10px;
  text-transform: uppercase;
}
.header .logo {
  margin: 13px 0;
  width: 40px;
  height: 34px;
}
/* Menu -------------------------------------------------------------*/
.menu {
  float: right;
  height: inherit;
  position: absolute;
  right: 0; /*coller le menu à droite*/
  top: 0;
  position: relative;
  z-index: 10000 !important;
}

.menu .navbar {
  list-style: none;
  margin: 0;
  padding-top: 0;
  white-space: nowrap;
  height: inherit;
  line-height: inherit;
}

.navbar li {
  position: relative;
  bottom: 1px;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.navbar i {
  position: relative;
  top: 6px;
}

.menu .navbar li a {
  height: 60px;
  line-height: 60px;
  letter-spacing: 0.225em;
  padding: 1em 1.5em;
  margin: 0;
  text-transform: uppercase;
  top: 0;
}
/* Navbar et menu responsive ------------------------------------------*/

/* Menu déroulant -----------------------------------------------------*/
.deroulant {
  position: fixed;
  right: 5px;
  top: 60px;
  border-radius: 12px;
  background-color: white;
  width: 200px;
  height: auto;
  box-shadow: 2px 2px 5px 1px rgba(131, 131, 131, 0.5);
  overflow: hidden;
  z-index: 1000000000;
}

.deroulantHidden {
  display: none;
}

.deroulant li {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.deroulant li:hover {
  background-color: #859bae;
  color: white;
}
/* main -------------------------------------------------------------*/
.main {
  margin-top: 60px;
  background-color: #f3f2ef;
  padding-bottom: 20px;
  min-height: calc(100vh - 80px);
}
.filters {
  width: 800px;
  margin: auto;
  color: #859bae;
  display: flex;
}
.destList {
  display: flex;
  justify-content: center;
  width: 100%;
}
.destination {
  border-radius: 12px;
  margin: 5px 0;
  box-shadow: 0px 2px 5px 1px rgba(131, 131, 131, 0.15);
  overflow: hidden;
  width: 800px;
  background-color: white;
}
.destination header {
  background-color: #677b8d;
  color: white;
  display: flex;
  justify-content: space-between;
}

.destination h4 {
  margin: 0 0 0 20px;
  padding: 2px 0;
}

.destination main {
  margin: 0 20px 0px 20px;
  width: 100% - 20px;
  font-size: 18px;
}
.destination main p {
  width: 100% - 20px;
}
.destination .right {
  float: right;
}

.destination footer {
  text-align: center;
  font-size: 15px;
  color: grey;
}
.addFavs {
  margin: 2px 20px 0 0;
  font-size: 24px;
}

.custom-select {
  border-radius: 12px;
  border: 2px solid #677b8d;
  padding: 3px 8px;
  color: #677b8d;
}

.submitButton {
  position: relative;
  bottom: 2px;
}
.fa-sliders-h {
  font-size: 28px;
  position: relative;
  top: 2px;
  background-color: white;
  padding: 3px;
  border-radius: 10px;
}
/* Favoris ------------------------------------------------------------*/
.addFavs{
  cursor: pointer;
}

/* Footer -------------------------------------------------------------*/

#footer {
  padding: 1em 0 1em 0;
  background-color: #677b8d;
  text-align: center;
  color: white;
  font-size: 14px;
}
#footer > h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
