$base-color: #859bae;
$base-color-light: #A4BCD2;
$base-color-dark: #677b8d;

/*PAGE HOME ----------------------------------------------------------*/
.filtersSection {
  text-align: center;
  color: $base-color;
}
.flag {
  height: 30px;
  width: 30px;
  object-fit: cover;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  position: relative;
  top: 4px;
  right: 2px;
}
.pagination {
  text-align: center;
  margin-top: 20px;
  * {
    width: 30px;
  }
  .current {
    border-radius: 20px;
    border: 4px solid $base-color;
    background-color: $base-color;
    color: white;
    padding: 0px 5px;
  }
  .page {
    border-radius: 20px;
    border: 4px solid $base-color;
    color: $base-color;
    text-align: center;
    margin: 2px;
    a {
      padding: 2px 2px;
      position: relative;
      left: 3px;
    }
  }
  .next {
    margin-left: 10px;
    color: $base-color;
  }
  .last {
    margin-left: 10px;
    color: $base-color;
  }
  .first {
    margin-right: 10px;
    color: $base-color;
  }
  .previous {
    margin-right: 10px;
    color: $base-color;
  }
}

/*PAGE LOG-IN ----------------------------------------------------------*/
.connectBox{
  width: 400px;
  padding: 25px;
  background-color: $base-color-light;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  transform: translateY(50px);
  p{
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  a{
    margin-top: 5px;
    font-size: 18px;
  }
  a:hover{
    text-decoration:underline;
    font-size: 18px;
  }
  .form-group{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  input[type=text], input[type=password] {
    font-size: 15px;
    padding: 5px;
    background: white;
    height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 12px;
  }
}

/*PAGE DESTINATION ----------------------------------------------------------*/
.headimage {
  width: 100%;
  height: 400px;
  align-items: center;
  align-content: center;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}
.univHead {
  margin: auto;
  width: 500px;
  text-align: center;
  position: relative;
  bottom: 50px;

  .country {
    height: 40px;
    width: 40px;
    object-fit: cover;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    position: relative;
    top: 8px;
  }
  h1 {
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(131, 131, 131, 0.5);
    border-radius: 12px;
    text-transform: uppercase;
    padding: 10px;
    width: 300px;
    text-overflow: ellipsis;
    font-size: 20px;
  }
  .fa-heart {
    font-size: 40px;
    line-height: 53px;
    color: white;
    text-shadow: 2px 2px rgba(131, 131, 131, 0.5);
  }
  div {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: grey;
    * {
      margin: 16px;
    }
  }
}

.destBody {
  width: 100%;
  display: flex;
  justify-content: center;

  .destMain {
    width: 1000px;
    margin: 10px;

    .destBoxStyle {
      color: white;
      background-color: $base-color;
      border-radius: 12px;
      padding: 10px;
      h2 {
        text-align: center;
        margin: 0;
      }
      p {
        margin-left: 10px;
        text-align: justify;
      }
    }
    .addQuestion{
      display: flex;
      color: $base-color;
      width: 100%;
      justify-content: center;
    }
    .addQuestion:hover{
      background-color: white;
      border-radius: 12px;
    }
    .addQuestionButton {
      color: white;
      background-color: $base-color;
      border-radius: 100px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin: 5px;
      p{
        text-align: center;
      }
    }
    .destBoxStyle2 {
      margin-top: 20px;
      h2 {
        text-align: center;
        margin: 0;
        background-color: $base-color;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 10px;
        color: white;
      }
      section {
        background-color: white;
        margin: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 12px;
        h3 {
          margin: 0;
        }
      }
      table {
        width: 100%;

        h3 {
          color: $base-color;
          text-align: center;
        }
      }
      td {
        border-radius: 12px;
        border: 2px solid #677b8d;
        padding: 3px 8px;
        color: #677b8d;
        background-color: white;
      }
      td:first-child {
        width: 50%;
      }
      td:first-child {
        width: 50%;
      }
      p {
        text-align: justify;
      }
    }
  }
  .destColumn {
    width: 300px;
    margin: 10px;
    div {
      margin: 10px 0;
    }
    .date {
      color: #859bae;
      display: flex;
      p {
        background-color: white;
        border-radius: 12px;
        padding-right: 12px;
        padding-left: 12px;
      }
      select {
        margin: 0 5px;
      }
    }
    .destBoxStyle {
      h4 {
        color: white;
        background-color: $base-color;
        text-align: center;
        padding: 10px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        margin: 0;
      }
      div {
        background-color: white;
        height: 200px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        overflow: hidden;
        margin: 0;
        overflow-y: scroll;
      }
    }
  }
}
