/*PAGE HOME ----------------------------------------------------------*/
.filtersSection {
  text-align: center;
  color: #859bae;
}

.flag {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 120px;
  position: relative;
  top: 4px;
  right: 2px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination * {
  width: 30px;
}

.pagination .current {
  border-radius: 20px;
  border: 4px solid #859bae;
  background-color: #859bae;
  color: white;
  padding: 0px 5px;
}

.pagination .page {
  border-radius: 20px;
  border: 4px solid #859bae;
  color: #859bae;
  text-align: center;
  margin: 2px;
}

.pagination .page a {
  padding: 2px 2px;
  position: relative;
  left: 3px;
}

.pagination .next {
  margin-left: 10px;
  color: #859bae;
}

.pagination .last {
  margin-left: 10px;
  color: #859bae;
}

.pagination .first {
  margin-right: 10px;
  color: #859bae;
}

.pagination .previous {
  margin-right: 10px;
  color: #859bae;
}

/*PAGE LOG-IN ----------------------------------------------------------*/
.connectBox {
  width: 400px;
  padding: 25px;
  background-color: #A4BCD2;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.connectBox p {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.connectBox a {
  margin-top: 5px;
  font-size: 18px;
}

.connectBox a:hover {
  text-decoration: underline;
  font-size: 18px;
}

.connectBox .form-group {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connectBox input[type=text], .connectBox input[type=password] {
  font-size: 15px;
  padding: 5px;
  background: white;
  height: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 12px;
}

/*PAGE DESTINATION ----------------------------------------------------------*/
.headimage {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}

.univHead {
  margin: auto;
  width: 500px;
  text-align: center;
  position: relative;
  bottom: 50px;
}

.univHead .country {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 120px;
  position: relative;
  top: 8px;
}

.univHead h1 {
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(131, 131, 131, 0.5);
          box-shadow: 2px 2px 5px 1px rgba(131, 131, 131, 0.5);
  border-radius: 12px;
  text-transform: uppercase;
  padding: 10px;
  width: 300px;
  text-overflow: ellipsis;
  font-size: 20px;
}

.univHead .fa-heart {
  font-size: 40px;
  line-height: 53px;
  color: white;
  text-shadow: 2px 2px rgba(131, 131, 131, 0.5);
}

.univHead div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  color: grey;
}

.univHead div * {
  margin: 16px;
}

.destBody {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destBody .destMain {
  width: 1000px;
  margin: 10px;
}

.destBody .destMain .destBoxStyle {
  color: white;
  background-color: #859bae;
  border-radius: 12px;
  padding: 10px;
}

.destBody .destMain .destBoxStyle h2 {
  text-align: center;
  margin: 0;
}

.destBody .destMain .destBoxStyle p {
  margin-left: 10px;
  text-align: justify;
}

.destBody .destMain .addQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #859bae;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destBody .destMain .addQuestion:hover {
  background-color: white;
  border-radius: 12px;
}

.destBody .destMain .addQuestionButton {
  color: white;
  background-color: #859bae;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 5px;
}

.destBody .destMain .addQuestionButton p {
  text-align: center;
}

.destBody .destMain .destBoxStyle2 {
  margin-top: 20px;
}

.destBody .destMain .destBoxStyle2 h2 {
  text-align: center;
  margin: 0;
  background-color: #859bae;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px;
  color: white;
}

.destBody .destMain .destBoxStyle2 section {
  background-color: white;
  margin: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 12px;
}

.destBody .destMain .destBoxStyle2 section h3 {
  margin: 0;
}

.destBody .destMain .destBoxStyle2 table {
  width: 100%;
}

.destBody .destMain .destBoxStyle2 table h3 {
  color: #859bae;
  text-align: center;
}

.destBody .destMain .destBoxStyle2 td {
  border-radius: 12px;
  border: 2px solid #677b8d;
  padding: 3px 8px;
  color: #677b8d;
  background-color: white;
}

.destBody .destMain .destBoxStyle2 td:first-child {
  width: 50%;
}

.destBody .destMain .destBoxStyle2 td:first-child {
  width: 50%;
}

.destBody .destMain .destBoxStyle2 p {
  text-align: justify;
}

.destBody .destColumn {
  width: 300px;
  margin: 10px;
}

.destBody .destColumn div {
  margin: 10px 0;
}

.destBody .destColumn .date {
  color: #859bae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.destBody .destColumn .date p {
  background-color: white;
  border-radius: 12px;
  padding-right: 12px;
  padding-left: 12px;
}

.destBody .destColumn .date select {
  margin: 0 5px;
}

.destBody .destColumn .destBoxStyle h4 {
  color: white;
  background-color: #859bae;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 0;
}

.destBody .destColumn .destBoxStyle div {
  background-color: white;
  height: 200px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  margin: 0;
  overflow-y: scroll;
}
/*# sourceMappingURL=style.css.map */